.title-intro {
  font-size: 6vw;
  padding: 0 0.5vw;
}

.title-description {
  padding: 0 0.5vw;
}

.title-button {
  background-color: #4A4A4A;
  color: #FFFFFF;
  margin: 1vw 0;
}

.circle
  {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
