.title-intro {
  font-size: 5vw;
}

.title-description {

}

.title-button {
  background-color: #4A4A4A;
  color: #FFFFFF;
}

.circle
  {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
