.regulation {
  h1, h3 {
    color: #4A4A4A;
  }
}

.mand-reg-title {
  font-size: 3vw;
}

.border-style {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.2rem;
}

// color scheme

body.mandatory {
  background-color: #6B9671;

  &-snippet {
    background-color: #47804F;
  }
}

body.guidelines {
  background-color: #DFD594;

  &-snippet {
    background-color: #B9AD61;
  }
}

body.voluntary {
  background-color: #BC8C4C;

  &-snippet {
    background-color: #AA752F;
  }
}

body.certification {
  background-color: #69A6B1;

  &-snippet {
    background-color: #B4D7DE;
  }
}

body.traceability {
  background-color: #D29D96;

  &-snippet {
    background-color: #9B625B;
  }
}
