---
layout: default
---

<article class="regulation">
  <div>
    <h1 class="mand-reg-title">{{ page.title }}</h1>
  </div>

  <div class="reg-wrapper mand-reg-wrapper">

  <h3>Related Commodity:</h3>
  {% for commodity in page.categories %}
    <div class="border-style">{{ commodity }}</div>
  {% endfor %}

  <h3>Type of Regulation:</h3> <div class="border-style">{{ page.regulation_type }}</div>

  <h3>Country or Organisation:</h3> <div class="border-style">{{ page.organisation }}</div>

  {{ content }}

  </div>
</article>
